    <footer>
      <div id="footer-left">
        <h3>good<span>Times</span></h3>
        <p>
          <a href="/">Home</a>
          <a href="#"> About</a>
          <a href="/form"> Contact</a>
        </p>
        <p>Jacob Goodall &copy; 2018</p>
      </div>
      <div id="footer-center">
        <i class="fa fa-phone"></i>
        <p>555-555-5555</p><br>
        <i class="fa fa-map-marker"></i>
        <p>1234 Apple Street<br /></p>
        <p>New York, NY 10000</p>
      </div>
      <div id="footer-right">
        <h3>Connect With Us!</h3>
        <div id="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
